extends layout

block content
  b Status:
  div(style='white-space:pre-line') #{stdout}
  b Failed Logins:
  div Attempts since last successful login: #{failedAttempts}
  div Last failed attempt on #{exactTime} ( #{lastFailedAttempt} )
  b Logout:
  form(action="/logout",method="post")
    button Logout
  b Choices:
  form(action="/reset.py",method="post")
    button Reset
    input(name="params",placeholder="Parameters")
  form(action="/start.py",method="post")
    button Start
    input(name="params",placeholder="Parameters")
  form(action="/shutdown.py",method="post")
    button Shutdown
    input(name="params",placeholder="Parameters")
  
  b Change Password:
  form(action="/hash.js",method="post")
    button Hash
    input(name="params",type="password",placeholder="Password")
