extends layout

block content
  b Status:
  div(style='white-space:pre-line') #{stdout}
  div Failed Attempts: #{failedAttempts} Last failed attempt on #{exactTime} ( #{lastFailedAttempt} )
  b Logout:
  form(action="/logout",method="post")
    button Logout
  b Choices:
  form(action="/restart.py",method="post")
    button Reset
    input(name="params",placeholder="Parameters")
  form(action="/start.py",method="post")
    button Start
    input(name="params",placeholder="Parameters")
  form(action="/shutdown.py",method="post")
    button Soft Shutdown
    input(name="params",placeholder="Parameters")
  form(action="/fShutdown.py",method="post")
    button Force (Hard) Shutdown
    input(name="params",placeholder="Parameters")
  
  b Change Password:
  form(action="/hash.js",method="post")
    button Hash
    input(name="params",type="password",placeholder="Password")
