[project]
	description = Raspberry Pi Remote Computer Startup Device
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neil (neilbalch)
[access "refs/for/refs/*"]
	read = group user/Neil (neilbalch)
	push = group user/Neil (neilbalch)
	label-Code-Review = -2..+2 group user/Neil (neilbalch)
	label-Verified = -1..+1 group user/Neil (neilbalch)
	rebase = group user/Neil (neilbalch)
	removeReviewer = group user/Neil (neilbalch)
	submit = group user/Neil (neilbalch)
[access "refs/heads/*"]
	read = group user/Neil (neilbalch)
	create = group user/Neil (neilbalch)
	push = +force group user/Neil (neilbalch)
	pushMerge = group user/Neil (neilbalch)
[access "refs/tags/*"]
	push = group user/Neil (neilbalch)
	push = +force group user/Neil (neilbalch)
