html
  head
    title Program Output
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form(action="/" method="get")
      button Go Back
    b Program Output:
    div(style="white-space:pre-line")= output
