extends layout

block content
  link(rel='stylesheet', href='/stylesheets/programError.css')
  link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700,700i|Happy+Monkey|Ubuntu+Condensed", rel="stylesheet")
  div(id="content-wrapper")
    form(action="/",method="get")
      button Back
    h1 Oops! Something doesn't add up!
    div(id="message")
      h2 Error:
      p= error
  div(id="footer")
    p This page is an open source project hosted on Github at:
    a(href="https://www.github.com/neilbalch/RPi-Computer-Power") github.com/neilbalch/RPi-Computer-Power
