html
  head
    title CMS: Program Output
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/programOutput.css')
  body
    div(id="content-wrapper")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script.
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
          alert("Text Copied");
        }
      div(id="btns")
        form(action="/" method="get")
          button Go Back
        button(id="copyButton" onclick="copyToClipboard('#copyTarget')") Copy Output to Clipboard
      b Program Output:
      div(id="copyTarget" style="white-space:pre-line")= output
    div(id="footer")
      p This page is an open source project hosted on Github at:
      a(href="https://www.github.com/neilbalch/RPi-Computer-Power") github.com/neilbalch/RPi-Computer-Power
