input { width: 275px; }
form {
  margin: auto;
  width: 310px;
}
#content-wrapper { width: 600px; }
#form-wrapper {
  position: relative;
}
#visibility {
  position: absolute;
  right: 176px;
  top: 2px;
}
#message {
  text-align: center;
  margin: auto;
  width: 570px;
}
