input { width: 25vmax; }
#content-wrapper { width: fit-content; }
#form-wrapper {
  width: fit-content;
  margin: auto;
}
#form-wrapper form input, #form-wrapper form {
  display: inline-block;
}

#message {
  text-align: center;
  margin: auto;
  width: fit-content;
}
#message b {
  font-size: 2vmax;
}
