#content-wrapper { width: fit-content; }
#message {
  text-align: center;
  margin: auto;
  width: fit-content;
}
#copyButton, form { display: inline-block; }
#copyButton { margin-left: 20px; }
#content-wrapper b { font-size: 2.2vmax; }
#copyTarget { font-size: 1.6vmax; }
