#content-wrapper { width: 610px; }
#message {
  text-align: center;
  margin: auto;
  width: 570px;
}
#copyButton, form { display: inline-block; }
#copyButton { margin-left: 20px; }
#copyTarget { font-size: 18px; }
