body { padding: 10px 10px; background: orange url(../images/background.jpg) no-repeat fixed center center; background-size: cover; }
input {
  width: 225px;
  border: 2px dashed #D1C7AC;
  border-left: 4px solid #3366FF;
  font: 16px 'Ubuntu', sans-serif;
}
button:hover { color: black; background: lawngreen; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); }
button {
  background-color: green;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 16px 'Ubuntu', sans-serif;
  -webkit-transition-duration: 0.33s; /* Safari */
  transition-duration: 0.25s;
}
b { font: bold 24px 'Ubuntu', sans-serif; }
a { color: #00B7FF; }
p { margin: 0px 0px 0px 0px; font: 16px 'Ubuntu', sans-serif; }
#indexHeader { margin: 0px 0px 0.25em 0px; font: 60px 'Happy Monkey', cursive; }
#indexHeader i { font: italic 24px 'Ubuntu', sans-serif; }
#logout, #gitPullMaster, #serverReboot, #reload { display: inline-block; padding: 0px 5px 0px 5px; }
#actionBtns { margin: 0em 0em 1.5em 0em; }
#status, #failedAttempts {
  width: 300px;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  vertical-align: top;
}
#failedAttempts { width: 365px; }
#info { margin: 1em 0px 0.5em 0px; }
#status p { display: inline-block; padding: 0px 4px 0px 0px; }
#status b, #failedAttempts b, #options b, #hash b { color: black; display: inline-block; font: Bold 24px 'Ubuntu', sans-serif; }
#options { width: 320px; }
#hash { margin: 5px 0px 0px 0px; width: 320px; }
#options input, #hash input { float: right; }
