extends layout

block content
  form(action="/login",method="post")
    input(name="password",type="password",placeholder="Baby Name Suggestion")
    button Submit
  b Thank You for your suggestion!!! See you all on October 27th!
